<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品後台</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/admin.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="my-3 text-end">
                <button type="button" class="btn btn-primary" @click="openModal('new')">建立新產品</button>
            </div>
            
            <table class="table">
                <thead>
                  <tr>
                    <th width="100px">分類</th>
                    <th>產品名稱</th>
                    <th width="120px">原價</th>
                    <th width="120px">售價</th>
                    <th width="100px">是否啟用</th>
                    <th width="120px">編輯</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in productList" :key="item.title">
                    <td>{{ item.category }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.origin_price }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <span class="text-success" v-if="item.is_enabled">啟用</span>
                        <span v-else>未啟用</span>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-outline-primary btn-sm" @click="openModal('edit',item)">編輯</button>
                            <button type="button" class="btn btn-outline-danger btn-sm" @click="openModal('del',item)">刪除</button>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
            <!-- pagination -->
            <pagination :pages="pages" :get-products="getProducts"></pagination>
        </div>
        
        <!-- Modal -->
        <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
        aria-hidden="true">
            <modal-product ref="product" :is-new="isNew" :product="tempProduct" :update-product="updateProduct"></modal-product>
        </div>
        
        <!--刪除-->
        <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
        aria-labelledby="delProductModalLabel" aria-hidden="true">
            <del-modal ref="delProduct" :del-temp-product="tempProduct" :del-product="delProduct" :update-product="updateProduct"></del-modal>
        </div>
        
        <!-- Modal -->
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/admin.js" type="module"></script>
</body>
</html>